==== Request Fields
|===
|값|타입|설명|필수값|제약조건

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{^optional}}true{{/optional}}{{/tableCellContent}}
|{{#tableCellContent}}{{#constraint}}{{.}}{{/constraint}}{{/tableCellContent}}

{{/fields}}
|===